
<div class="login-body">
  <div class="login-logo">
      <img src="../../../static/img/login_logo.png" alt=""/>
  </div>

  <h2 class="form-heading">Rental Q AGENCY REGISTRATION</h2>
  <div class="container log-row">
      <form class="form-signin" action="index.html">
          <p>Enter your personal details below</p>
          <input type="text" class="form-control" placeholder="Full Name" autofocus>
          <input type="text" class="form-control" placeholder="Email" autofocus>
          <input type="text" class="form-control" placeholder="Phone Number" autofocus>
          <input type="text" class="form-control" placeholder="Office Name" autofocus>
          <input type="text" class="form-control" placeholder="Office Location" autofocus>
          <input type="text" class="form-control" placeholder="Agency ABM/ACN" autofocus>

          <p> Enter your account details below</p>
          <input type="password" class="form-control" placeholder="Password">
          <input type="password" class="form-control" placeholder="Re-type Password">
          <label class="checkbox-custom check-success">
              <input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
          </label>

          <!-- <div class="radio-custom radio-success">
              <input type="radio" value="yes" checked="checked" name="option-yes" id="male">
              <label for="male">Male</label>
              <input type="radio"  value="no" name="option-yes" id="female">
              <label for="female">Female</label>
          </div> -->
          <a href="/#!/dashboard">
          <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
          </a>
          <div class="registration m-t-20 m-b-20">
              Already Registered.
              <a class="" href="/#!/login">
                  Login
              </a>
          </div>
      </form>
  </div>
</div>
