<div class="nav-side-menu">
    <div class="brand">Rental Q</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
              <a href="/dashboard">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
            </li>
            <li class="active">
              <a href="/tenant-checks">
                    <i class="fa fa-check fa-lg"></i> Tenant Checks
                  </a>
            </li>
            <li>
              <a href="/archives">
                    <i class="fa fa-archive fa-lg"></i> Archives
                  </a>
            </li>
            <li>
              <a href="/profile">
              <i class="fa fa-user fa-lg"></i> Profile
            </a>
            </li>
             <li class="signout" (click)="signOut()">
            <i class="fa fa-power-off fa-lg"></i> Sign Out
        </li>
        </ul>
    </div>
</div>

<!-- BODY SECTION  -->

<div class="container" id="main">
  <div class="col-md-5">
    <!--<form (ngSubmit)="submitRentalCheck()">-->
    <form (ngSubmit)="saveRentalCheck()">
    <!-- Tenancy Period   -->
    <h4>Tenant Check - Agency Form</h4>
    <div class="panel panel-default">
      <div class="panel-heading">Tenancy</div>
      <div class="panel-body">
        <!-- Applicant Email -->
        <div class="form-group">
          <label for="exampleInputEmail1">Tenant's Email Address</label>
          <input type="email" class="form-control" name="applicantsEmail" [(ngModel)]="tenantCheck.applicantsEmail" id="exampleInputEmail1" placeholder="E.g. email@example.com">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Current Address</label>
          <input type="email" class="form-control" name="propertyAddress" [(ngModel)]="tenantCheck.propertyAddress" id="exampleInputEmail1" placeholder="E.g. 457 Highway Ave Unit 2, Brisbane QLD 40144">
        </div>

        <div class="form-group">
          <label class="paragraph">Period of tenancy</label>
          <label class="control-label" for="date">Date</label>
          <input type="date" class="form-control"  name="moveInDate" [(ngModel)]="tenantCheck.moveInDate" id="exampleInputEmail1"placeholder="Enter period of tenancy">
          <p>End</p>
          <input type="date" name="moveOutDate" class="form-control" [(ngModel)]="tenantCheck.moveOutDate" id="exampleInputEmail1" placeholder="Enter period of tenancy">
        </div>

        <!-- Listed on lease   -->
        <div class= "form-group">
          <label class="paragraph">Was the tenant listed as a lessee?</label>
          <label class="radio-inline">
            <input type="radio" value="true" [(ngModel)]="tenantCheck.listedAsLesee" name="listedAsLesee">Yes
          </label>
          <label class="radio-inline">
            <input type="radio" value="false" [(ngModel)]="tenantCheck.listedAsLesee" name="listedAsLesee">No
          </label>
        </div>
        <!-- Number of Occupants   -->
        <div class="form-group">
          <label for="exampleInputEmail1">Number of occupants in the property</label>
          <input type="number" class="form-control" [(ngModel)]="tenantCheck.numberOfOccupants" id="exampleInputEmail1" name="numberOfOccupants" placeholder="Enter number of occupants">
        </div>

        <!-- Tenancy Break Lease?   -->
        <label class="paragraph">Is this a Break Lease?</label>
        <label class="radio-inline">
          <input type="radio" value="true" [(ngModel)]="tenantCheck.breakLease" name="breakLease">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" value="false" [(ngModel)]="tenantCheck.breakLease" name="breakLease">No
        </label>
      </div>
    </div>

    <!-- Weekly Rent   -->
    <div class="panel panel-default">
      <div class="panel-heading">Rent amount</div>
      <div class="panel-body">
          <div class="form-group">
            <label class="paragraph">Enter weekly rent amount</label>
            <input type="number" class="form-control" name="rentAmount" [(ngModel)]="tenantCheck.rentAmount" id="exampleInputEmail1" placeholder="E.g. 4000">
          </div>
          <div class="form-group">
            <!-- Rent Payment   -->
            <label class="paragraph">Was the rent paid on time?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.rentOnTime" name="rentOnTime">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.rentOnTime" name="rentOnTime">No
            </label>
          </div>
          <div class="form-group">
          <!-- Arrears   -->
          <label class="paragraph">During the tenancy, was the tenant ever in arrears?</label>
          <label class="radio-inline">
            <input type="radio" value="true" [(ngModel)]="tenantCheck.anyArrears" name="anyArrears">Yes
          </label>
          <label class="radio-inline">
            <input type="radio" value="false" [(ngModel)]="tenantCheck.anyArrears" name="anyArrears">No
          </label>
        </div>
      </div>
      </div>

      <!-- Pets   -->
      <div class="panel panel-default">
        <div class="panel-heading">Pets</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="paragraph">Were pets kept on the premises?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.anyPets" name="anyPets">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.anyPets" name="anyPets">No
            </label>
          </div>

          <div class="form-group">
            <!-- Pets damages details -->
            <label for="exampleInputEmail1">If yes, any damage/disruption etc?</label>
            <textarea name="petDamage" [(ngModel)]="tenantCheck.petDamage" class="form-control" id="" cols="30" rows="5"></textarea>
          </div>

          <div class="form-group">
            <!-- Pets Approved? -->
            <label class="paragraph">Were the pets approved?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.petsApproved" name="petsApproved">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.petsApproved" name="petsApproved">No
            </label>
          </div>
        </div>
      </div>

      <!-- Notice to Remedy -->
      <div class="panel panel-default">
        <div class="panel-heading">Notice to Remedy</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="paragraph">Did the tenant receive any Notice to Remedy’s?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.noticeToRemedy" name="noticeToRemedy">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.noticeToRemedy" name="noticeToRemedy">No
            </label>
          </div>

          <div class="form-group">
            <!-- Notice to Remedy details -->
            <label for="exampleInputEmail1">If yes, reason and number of notice to remedy?</label>
            <textarea name="reasonToRemedy" [(ngModel)]="tenantCheck.reasonToRemedy" class="form-control" id="" cols="30" rows="5"></textarea>
          </div>

          <div class="form-group">
            <!-- Routine Inspection -->
            <label class="paragraph">Did your agency carry out routine inspections?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.routineInspection" name="routineInspection">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.routineInspection" name="routineInspection">No
            </label>
          </div>

          <div class="form-group">
            <!-- Notice to Remedy details -->
            <label for="exampleInputEmail1">How was the property presented for last inspection?</label>
            <textarea name="lastInspectionCondition" [(ngModel)]="tenantCheck.lastInspectionCondition" class="form-control" id="" cols="30" rows="5"></textarea>
          </div>
        </div>
      </div>

        <!-- Lawn maintenance -->
        <div class="panel panel-default">
          <div class="panel-heading">Maintenance</div>
          <div class="panel-body">
            <div class="form-group">
              <label class="paragraph">Were lawns maintained?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.lawnsMaintained" name="lawnsMaintained">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.lawnsMaintained" name="lawnsMaintained">No
              </label>
            </div>

            <div class="form-group">
              <!-- Damage -->
              <label class="paragraph">Was there any damage?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.anyDamage" name="anyDamage">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.anyDamage" name="anyDamage">No
              </label>
            </div>

            <div class="form-group">
              <!-- Bond Refunded -->
              <label class="paragraph">Was the bond refunded in full?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.bondRefunded"  name="bondRefunded">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.bondRefunded" name="bondRefunded">No
              </label>
            </div>

            <div class="form-group">
              <!-- Notice to Remedy details -->
              <label for="exampleInputEmail1">If not, reason why</label>
              <textarea name="reasonNoRefund" [(ngModel)]="tenantCheck.reasonNoRefund" class="form-control" id="" cols="30" rows="5"></textarea>
            </div>
          </div>
        </div>

        <!-- Condition -->
        <div class="panel panel-default">
          <div class="panel-heading">Property Condition</div>
          <div class="panel-body">
            <div class="form-group">
              <label class="paragraph">Did the tenant leave the property clean and tidy?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.leaveCleanTidy" name="leaveCleanTidy">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.leaveCleanTidy" name="leaveCleanTidy">No
              </label>
            </div>

            <div class="form-group">
              <!-- Disputes-->
              <label class="paragraph">Were their any disputes you had to handle?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.anyDisputes" name="anyDisputes">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.anyDisputes" name="anyDisputes">No
              </label>
            </div>

            <div class="">
              <!-- Disputes details -->
              <label for="exampleInputEmail1"> If yes, brief details.</label>
              <textarea name="disputeDetails" [(ngModel)]="tenantCheck.disputeDetails"  class="form-control" id="" cols="30" rows="5"></textarea>
            </div>

            <div class="form-group">
              <!-- Disputes-->
              <label class="paragraph">Have there been any complaints lodged from the neighbours?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.neighbourComplaints"  name="neighbourComplaints">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.neighbourComplaints"  name="neighbourComplaints">No
              </label>
            </div>

            <div class="form-group">
              <!-- Rent again in future -->
              <label class="paragraph">Would you rent to the tenant again?</label>
              <label class="radio-inline">
                <input type="radio" value="true" [(ngModel)]="tenantCheck.wouldRentAgain"  name="wouldRentAgain">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" value="false" [(ngModel)]="tenantCheck.wouldRentAgain"  name="wouldRentAgain">No
              </label>
            </div>

            <div class="form-group">
              <!-- Vacating details -->
              <label for="exampleInputEmail1">Why is the tenant vacating the property?</label>
              <textarea name="vacatingReason" [(ngModel)]="tenantCheck.vacatingReason"  class="form-control" id="" cols="30" rows="5"></textarea>
            </div>

          </div>
        </div>

      <!-- Reason for terminating tenancy -->
      <div class="panel panel-default">
        <div class="panel-heading">Reason for terminating tenancy</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="paragraph">Did your Agency terminate the tenancy?</label>
            <label class="radio-inline">
              <input type="radio" value="true" [(ngModel)]="tenantCheck.terminateTenancy"  name="terminateTenancy">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="false" [(ngModel)]="tenantCheck.terminateTenancy"  name="terminateTenancy">No
            </label>
          </div>

          <div class="form-group">
            <!-- Additional Comments -->
            <label for="exampleInputEmail1">Additional comments</label>
            <textarea name="additonalComments" [(ngModel)]="tenantCheck.additonalComments"  class="form-control" id="" cols="30" rows="5"></textarea>
          </div>

          <div class="form-group">
            <!-- Inline checkboxes -->
            <label class="checkbox-custom inline check-success">
            <input type="checkbox"  name="informationIsTrue" [(ngModel)]="tenantCheck.informationIsTrue" value="true" id="checkbox-100"> <label for="checkbox-100">Certify that all information provide is true</label>
            </label>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success full"><span class="glyphicons glyphicons-check"></span> Complete Rental Check</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- End of left column -->

  <div class="col-md-7">
    <h4>Completed Tenant Checks</h4>
    <!-- Weekly Rent   -->
    <div class="panel panel-default">
      <div class="panel-heading">Rent amount</div>
      <div class="panel-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
          </tbody>
        </table>

      </div>
      </div>
  </div>
</div>
