<div class="nav-side-menu">
    <div class="brand">Rental Q</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
              <a href="/dashboard">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
            </li>
            <li>
              <a href="/tenant-checks">
                    <i class="fa fa-check fa-lg"></i> Tenant Checks
                  </a>
            </li>
            <li>
              <a href="/archives">
                    <i class="fa fa-archive fa-lg"></i> Archives
                  </a>
            </li>
            <li class="active">
              <a href="/profile">
                    <i class="fa fa-user fa-lg"></i> Profile
                  </a>
            </li>
             <li class="signout" (click)="signOut()">
            <i class="fa fa-power-off fa-lg"></i> Sign Out
        </li>
        </ul>
    </div>
</div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-6">
          <h1>Profile</h1>
            <strong>Full Name</strong>
            <!--<p>{{user.firstName}} {{user.lastName}}</p>-->

            <strong>Email</strong>
            <p>{{email}}</p>

            <strong>Agency ID</strong>
            <p>{{loggedUser}}</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>






<!-- END  -->
