<div class="nav-side-menu">
    <div class="brand">Rental Q</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="active">
              <a href="/dashboard">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
            </li>
            <li>
              <a href="/tenant-checks">
                    <i class="fa fa-check fa-lg"></i> Tenant Checks
                  </a>
            </li>
            <li>
              <a href="/archives">
              <i class="fa fa-archive fa-lg"></i> Archives
            </a>
            </li>
          <li>
            <a href="/profile">
            <i class="fa fa-user fa-lg"></i> Profile
          </a>
        </li>
        <li class="signout" (click)="signOut()">
            <i class="fa fa-power-off fa-lg"></i> Sign Out
        </li>
        </ul>
    </div>
</div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
          <h1>Applications</h1>
          <table class="table table-hover">
              <thead>
                  <tr>
                    <th>Date</th>
                    <th>Applicant's Name</th>
                    <th>Address</th>
                    <th>Suburb</th>
                    <th>Status</th>
                    <th>Quick Summary</th>
                    <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let application of applications">
                      <th scope="row">{{application.createdAt | date:'dd MMM yyyy'}}</th>
                      <td>{{application.firstName}} {{application.lastName}}</td>
                      <td>{{application.streetAddress}}</td>
                      <td>{{application.city}}</td>
                      <td>
                        <!-- {{application.status}} - {{application.status == 'Processing' ? true : false}} -->
                        <span class="badge badge-pill badge-pink" *ngIf="application.status == 'Approved' ? true : false">Approved</span>
                        <span class="badge badge-pill badge-success" *ngIf="application.status == 'Processing' ? true : false">Processing</span>
                        <span class="badge badge-pill badge-warning" *ngIf="application.status == 'On Hold' ? true : false">On Hold</span>
                        <span class="badge badge-pill badge-default" *ngIf="application.status == 'Withdrawn' ? true : false">Withdrawn</span>
                        <span class="badge badge-pill badge-danger" *ngIf="application.status == 'Denied' ? true : false">Denied</span>
                      </td>
                      <td>
                        <p>Willing to pay ${{application.willingToPay}}/pw</p>
                        <p>Lease Term: {{application.lengthOfLease}} months</p>
                        <!--<p>Makes $4,000/pw</p>-->
                        <p>Move in: {{application.leaseStartDate | date:'dd/MMM/yyyy'}}</p>
                        <!--<p>Occupants: 6</p>-->
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" (click)="onSelect(application.id1)"><span class="glyphicon glyphicon-list"></span> Details</button>
                          <!--Application for the specific ID {{application.id1}}-->
                          <!-- <button type="button" class="btn btn-default" (click)="archiveApplication(application.id1)"><i class="fa fa-archive fa-lg"></i> Archive</button> -->
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>






<!-- END  -->
